
body{
    background-color:transparent;
}
svg {
    pointer-events: all;
}
#openseadragon1{
    position: relative;
    width: 100%;
    height: 100%;
}
#tool_bar {
    position: fixed; /* Fixed positioning to keep it in view on scroll */
    bottom: 11%; /* Position it at the bottom of the viewport */
    left: 60%; /* Center horizontally */
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1000; /* Ensure it's on top of other content */
}

#tool_bar > div {
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the buttons */
}

#tool_bar img {
    width: 7vw; /* Scale width based on viewport width */
    height: 7vh; /* Maintain aspect ratio */
}

#nav_left_10{

    cursor: pointer;
}
#nav_left_1{

    cursor: pointer;
}

#nav_right_1{

    cursor: pointer;

}
#nav_right_10{

    cursor: pointer;

}
#slice_idx_display{
    letter-spacing: 4px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    color: white;
    bottom: 7%;
    right: 0%;
}
#stack_indicator_line{
    position: fixed; /* Fixed positioning to keep it in view on scroll */
    bottom: 0; /* Align it to the bottom of the viewport */
    left: 50%; /* Start from the middle horizontally */
    transform: translateX(-30%); /* Center it horizontally */
    width: 50vw; /* Maintain the original width or adjust as needed */
    height: 14vh; /* Maintain the original height or adjust as needed */
    z-index: 1000; /* Make sure it's above other content but below the toolbar */
    font-size: 75%;
    text-align: right;
    cursor: col-resize;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: #000000ba;
    overflow: hidden;
    /* -webkit-touch-callout: none; */
    /* -webkit-user-select: none; */
    /* -khtml-user-select: none; */
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    /* -o-user-select: none; */
    /* user-select: none; */
    /* pointer-events: none; */
}

.svg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* Ensure it is on top */
    pointer-events: none; /* Default to none to pass events to underlying elements */
}

.svg-overlay svg {
    pointer-events: all; /* Enable pointer events on the SVG itself */
}

.hidden {
    display: none;
    opacity: 0;
}
.clicked {
    fill-opacity: 0;
    stroke: rgba(255, 10, 17, 0.75);
    stroke-width: 10px;
    fill: rgba(255, 10, 17, 0);
}
.visible {
    display: block;
}

.highlight {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 30%; /* Adjust based on how much of the container they should take */
    height: 100%; /* Full height of the container */
    top: 0;
}

.highlight span {
    display: block; /* Ensure the text is a block element within the overlay */
    text-align: center; /* Center the text within the overlay */
    color: white; /* Assuming white text on the semi-transparent black background */
    line-height: 132.6px; /* Adjust the line-height to vertically center the text in the overlay */
}

.content {
    display: none;
}

.openseadragon-container .navigator {
    position: fixed !important; /* Fixed relative to the viewport */
    top: 40px !important; /* 10px from the top */
    right: 350px !important; /* 10px from the right */
    width: 15vw !important; /* 20% of the viewport width */
    height: 13vw !important; /* 20% of the viewport height */
    background-color: white !important;
    z-index: 9999 !important; /* High z-index to ensure it's above other elements */
}

.openseadragon-canvas {
    pointer-events: none;
}

.navigator-label {
    position: absolute;
    width: 100%;
    text-align: center;
    color: black; /* Or any color you prefer */
    font-size: 20px; /* Adjust the size as needed */
}

.navigator-label.anterior {
    top: 0;
}

.navigator-label.posterior {
    bottom: 0;
}

.navbar {
    background-color: white;

}

.navbar a {
    background-color: transparent;
    color:black

}
.navbar a:hover, .dropdown_nav:hover .dropbtn {
    background-color: transparent;
    -moz-box-shadow:    inset 0 0 10px rgba(85,85,85,.2);
    -webkit-box-shadow: inset 0 0 10px rgba(85,85,85,.2);
    box-shadow:        inset 0 0 10px rgba(85,85,85,.2);
    color:black;
}

.dropdown_nav .dropbtn {
    color:black;
}

.dropdown_nav-content2 .header {
    background: black;
    padding: 16px;
    color: white;
}

.dropdown_nav2:hover .dropdown_nav-content2 {
    display: block;
}
.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown_nav{

}
.dropdown_nav-content2 {
    display: block;
    position: absolute;
    background-color: transparent;
    color: white;
    width: 110px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);

    z-index: 1;
}
.row{
    position:absolute;

}
.column {
    float: left;
    width: 100%;
    padding: 0px;
    background-color: rgba(85,85,85,.1);;
    color: white;
    height: 100vh;
}
.column a {
    color: white;
    background-color: transparent;
    padding:8px;
    letter-spacing:1px;
    /*font-family:  'Courier New', monospace;*/
    /*font-family: 'Trebuchet MS', sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-weight:675;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(0,0,0,.5) 1px 1px 1px;



}

.column a:hover {
    color: white;
    background-color: transparent;
<!-- box-shadow: 0px 8px 16px 0px rgba(85,85,85,.2); -->
    -moz-box-shadow:    inset 0 0 10px rgba(85,85,85,.2);
    -webkit-box-shadow: inset 0 0 10px rgba(85,85,85,.2);
    box-shadow:        inset 0 0 10px rgba(85,85,85,.2);

}
#brainmap_button{
    width: 110px;
}
.column h3 {
    color:white
}

.accordion {
    background-color: transparent;
    color: black;
}

.active, .accordion:hover {
    background-color: transparent;
    color:black;
<!-- box-shadow: 0px 8px 16px 0px rgba(85,85,85,.5); -->
}

.accordion:after {
    color: black;
}
.panel {
    padding: 0 0px;
    background-color: rgba(85,85,85,1);
    color: white;
    overflow-y: scroll;
    height: 100%;
    width:350px;
}
.panel2 span{
    /*font-size:15px;*/
    font-size:16px;
    /*letter-spacing: 0px;*/

}

.panel2 {
    padding: 0px 0px;
    background-color: rgba(85,85,85,1);
    color: white;
    overflow-y: scroll;
    height: auto;
    max-height: calc(100vh - 100px);
    width:350px;

}

.collapsible.unselectable {
    display: none;
}
.collapsible.unselectable.show {
    display: block;
}

@media screen and (max-width: 600px) {
    #tool_bar {
        top: 95%; /* Position lower on smaller screens */
        gap: 2vw; /* Increase gap for better touch targets on smaller screens */
    }

    #tool_bar img {
        width: 4vw; /* Increase size for better touch targets on smaller screens */
    }
    #brainmap_button{
        width: 75px;
        font-size: 8px;
    }
    .dropdown_nav-content {
        width: 75px;
    }
    .content {
        color: white;
        background-color: transparent;
        font-size:13px;
        letter-spacing: 3px;
    }

    .content:hover {
        color: white;
        background-color: transparent;
        box-shadow: 0px 8px 16px 0px rgba(85,85,85,.2);
        -moz-box-shadow:    inset 0 0 10px rgba(85,85,85,.2);
        -webkit-box-shadow: inset 0 0 10px rgba(85,85,85,.2);
        box-shadow:        inset 0 0 10px rgba(85,85,85,.2);

    }

    .dropdown_nav .dropbtn {
        font-size: 16px;
        padding: 14px 16px;
    }
    .dropdown_nav .h3 {
        font-size: 10px;
    }
    .accordion {
        padding: 16px 0px;
    }

    .panel{
        width:150px;
    }
    .panel2{
        width:150px;
    }
    .trunklapse a{
        font-size:10px;
    }
    .collapsible a{
        font-size:10px;
    }
    .panel2 span{
        font-size:8px;
        /*letter-spacing: 0px;*/

    }
    .panel a{
        font-size:10px;
    }
    #label_display{
        font-size:8px;
    }


}
